Source: ros-kinetic-zeroconf-jmdns-suite
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-rosjava-bootstrap, ros-kinetic-rosjava-build-tools
Homepage: http://ros.org/wiki/zeroconf_jmdns_suite
Standards-Version: 3.9.2

Package: ros-kinetic-zeroconf-jmdns-suite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rosjava-bootstrap, ros-kinetic-rosjava-build-tools
Description: An implementation of zeroconf in pure java.
